.form {
	padding: 0;

	/*background : url(grid.png) top left repeat;*/
}

.section {
	text-align: center;
}

.fl {
	float: left;
}

.b { /*background-color: grey;*/
	
}

.sp {
	float: left;

	/*background-color: grey;
    background-color: red;*/
}